.tile {
    background-color: white;
    width: 100%; /* You can change the size however you like. */
    height: 7.5em;
    margin: 1em;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
  
.tile-img {
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    height: inherit;
    margin-right: 5px;
}

.tile-info {
    height: inherit;
    padding: 1em;
}
  